Username : 
{{input type="text" value=userName placeholder="Enter username(email)"}}
<br>
<br>
Password : {{input type="text" value=password placeholder="Enter password"}}
<br><br>
<button class="button" {{action "login"}}>Login</button>
{{outlet}}