<article class="listing">
  <div class="detail type">
    <h3>{{employee.empdetails.firstName}} {{employee.empdetails.lastName}}</h3>
  </div>
  <div class="detail location">
    <span>Email : </span> {{employee.email}}
  </div>
</article>